.Recommend-Book-Class {
  /* position: absolute; */
  background-color: #edeafc;
  border-radius: 15px;
  padding-top: 2%;
  padding-bottom: 5%;
}

.Recommend-Book-List > span {
  padding: 5%;
}

.Recommend-Book-List {
  display: block;
  text-align: center;
}
/* TO-DO : img별 bottom값 적용시키기 */
/* TO-DO : hover 이미지 적용시키기 */

#Recommend-Title {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4em;
  line-height: 28px;
  margin-left: 2%;
}
